body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(215, 223, 246);
  background: linear-gradient(
    90deg,
    rgba(215, 223, 246, 1) 0%,
    rgba(226, 231, 239, 1) 34%,
    rgba(227, 231, 235, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
